.main-content-bg{
   position: relative;
   min-height: calc(100vh - 108px);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* color: white !important; */
  }

  .img-main{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
   opacity:1;
   object-fit: cover;
  }


  .img-main-2{
    position: absolute;
    width: auto;
    height: auto;
    top:-40px;
   opacity:0.6;
   object-fit:scale-down;
  }

  .index-section{
    margin:0 !important
  }

  .feature-row{
    padding: 50px 0;
  }

  .section--divider{
    padding-top:0px !important
  }

  .background-list{
   /* background-color: aquamarine; */
  }

  .image-wrap{
    background: transparent !important;
  }

  body{
    font-size: 17px !important;
  }

  .image-wrap img:not([role=presentation]){
    object-fit: scale-down !important;
  }